@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Nunito+Sans:wght@600;700&display=swap');

/*******General Styling********/
html {
   font-size: 62.5%;
   position: relative;
   min-height: 100vh;
   scroll-behavior: smooth;
   background-color: #dcdfe5;
}

body,
label,
button {
   margin: 0;
   padding: 0;
   font-size: 1.8rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color: #0d0709;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
}

.text-shadow {
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
   text-align: center;
}

.row {
   margin: 0px;
   padding: 0px
}

.container {
   width: 100%;
   max-width: 1920px !important;
}

.heading {
   padding: 2rem;
   margin: 2rem;
   line-height: 2;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/*******Background Colors********/

nav,
.page-footer {
   background-color: #889FAA;
}

/*******Preloder Styling********/

.preloader {
   height: 100vh;
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*Preloader code taken from https://projects.lukehaas.me/css-loaders/*/
.loader {
   color: #2fc669;
   background-color: #e1403d;
   font-size: 10px;
   margin: 100px auto;
   width: 1em;
   height: 1em;
   border-radius: 50%;
   position: relative;
   text-indent: -9999em;
   /*-webkit-animation: load4 1.3s infinite linear;*/
   animation: load4 1.3s infinite linear;
   /*-webkit-transform: translateZ(0);*/
   /*-ms-transform: translateZ(0);*/
   transform: translateZ(0);
}

/*@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}*/
@keyframes load4 {

   0%,
   100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
   }

   12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
   }

   25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
   }

   37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
   }

   50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
   }

   62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
   }

   75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
   }

   87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
   }
}


/*************Navigation*******************/

.logo {
   padding-left: 0.5rem;
   padding-bottom: 0.4rem;
   letter-spacing: 0.2rem;
   font-size: 3rem;
   margin: 2rem auto;
}

.nav-link {
   font-weight: 900;
   font-size: 22px;
}

.brand-logo:hover {
   background-color: #718d9a;
   height: 6.3rem;
}

.sidenav {
   background-color: #889FAA;
}

.sidenav h3 {
   color: #fafafa !important;
}


.mobile-nav {
   color: #fafafa !important;
   font-size: 18px !important;
   font-weight: 600 !important;
}

.mobile-nav i {
   color: inherit !important;
}

/****************Flash Messages*************************/

.flash-messages {
   background-color: rgba(51, 51, 51, 0.1);
   padding: 2rem;
   margin: 0;
}

/*************Index.html*******************/

/*Code for full background image was used from 
https://css-tricks.com/perfect-full-page-background-image/*/
.background-img {
   background: url("../images/man-on-the-scooter-resized.jpg") no-repeat center center fixed;
   /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
   background-size: cover;
   height: 90vh;
}

.testimony-div {
   width: 35rem !important;
   height: 28rem;
   padding: 1rem !important;
   margin: 5rem 2rem 2rem 2rem;
   background-color: rgba(136, 159, 170, 0.8);
   box-shadow: 15px 5px 8px rgba(0, 0, 0, 0.8);
}

.testimony {
   color: #fafafa;
   font-weight: 600;
   letter-spacing: 0.3rem;
}

.main-content,
.reviews {
   background-color: #dcdfe5;
   padding-top: 2rem;
   padding-bottom: 2rem;
   min-height: 80vh;
   max-height: fit-content;
}

.intro {
   padding: 2rem;
   margin: 1rem;
}

.intro span {
   font-weight: 700;
}

.carousel-div {
   padding: 1rem 1rem 2rem 1rem;
}

.carousel .carousel-item {
   width: 400px;
   height: 400px;
   padding-bottom: 1rem;
}

/***************Registration Form*****************/

.submit-btn {
   background-color: #2fc669;
   font-weight: 700;
}

.submit-btn:hover {
   background-color: #889faa;
}

.main-content h3 {
   padding-top: 3rem;
}

.validate {
   border-bottom: 1px solid #2fc669;
   /*-webkit-box-shadow: 0 1px 0 0 #2fc669;*/
   box-shadow: 0 1px 0 0 #2fc669;
}

.login-link {
   text-align: right;
}

.product-details,
.btn-flat {
   color: #889faa !important;
}

.login-link a:hover,
.product-details:hover {
   background-color: #889faa !important;
   color: #fafafa !important;
   padding: 5px !important;
   border-radius: 5px !important;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.login-card {
   height: 35rem !important;
}

/* Materialize code has been used and modified to fit with the 
/* style of the site */

/* label color */
.input-field label {
   color: #383843;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
}

/* label focus color */
.input-field input[type=text]:focus+label {
   color: #e1403d;
}

/* label underline focus color */
.input-field input[type=text]:focus {
   border-bottom: 1px solid #2fc669;
   box-shadow: 0 1px 0 0 #2fc669;
}

/* valid color */
.input-field input[type=text].valid {
   border-bottom: 1px solid #2fc669;
   box-shadow: 0 1px 0 0 #2fc669;
}

/* invalid color */
.input-field input[type=text].invalid {
   border-bottom: 1px solid #e1403d;
   box-shadow: 0 1px 0 0 #e1403d;
}

/* icon prefix focus color */
.input-field .prefix.active {
   color: #2fc669;
}


/***************Profile*****************/

.profile-section {
   margin-top: 0px;
}

.card-profile {
   background-color: #889faa;
   color: #fafafa;
   border-radius: 50%;
   width: 25rem !important;
   height: 25rem !important;
}

.card-action-btn {
   margin-top: 1.5rem;
}

.view-products-btn {
   text-align: center !important;
}

/*****************Products*************************/

.card-title {
   position: relative !important;
   color: #383843 !important;
   padding: 1rem !important;
   margin: 1rem;
}

.product-card {
   min-height: 78rem;
}

.card-action {
   font-weight: 600;
   margin-left: 7rem;
   margin-right: 0;
   text-align: end;
   padding-bottom: 0.5rem;
}

.delete-admin {
   width: 10rem;
   padding-right: 0;
}

.filter-panel {
   height: 21rem !important;
   padding-top: 1rem;
}

.tooltipped {
   border-radius: 50%;
   color: #fafafa;
   font-size: 2rem;
   background-color: #889faa;
}

.tooltipped:hover {
   background-color: #383843;
}

.total-reviews {
   margin-left: 2rem !important;
   padding: 0.5rem !important;
   height: 3.5rem;
   margin-bottom: 2rem;
}


/*****************View Product*************************/
.scooter-img {
   width: 45rem;
   height: 45rem;
   padding: 1rem;
   margin: 1rem;
}

.p-description {
   padding: 0rem 2rem;
   margin-bottom: 0rem;
}

.view-product,
.add_review,
.reviews {
   min-height: auto !important;
}

.card-panel {
   width: 70%;
   margin: 2rem auto;
   height: 32rem;
}

fieldset {
   width: 100%;
   height: 23rem;
}

.btn-div {
   padding: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   background-color: #dcdfe5;
}

.btn-reset {
   float: left;
   background-color: #e1403d !important;
   color: #fafafa !important;
}

.btn-submit {
   float: right;
}

.btn-small {
   color: #fafafa;
}

.btn-reset:hover {
   background-color: #889FAA;
}

.add-review-form {
   width: 100% !important;
   height: auto;
}

.card-btn {
   width: 100%;
   margin-right: 0px;
   margin-left: 0px;
   position: absolute !important;
   right: 0;
   bottom: 0;
}

.affiliate-link {
   background-color: #889faa;
   width: 18rem !important;
   height: 4rem;
   margin: 2rem;
   padding-top: 0.5rem !important;
   padding-bottom: 0.5rem !important;
   border-radius: 0.5rem;
   font-weight: 700;
}

.affiliate-link a {
   color: #fafafa;
}


.affiliate-link:hover {
   background-color: #383843;
}

.add_review {
   padding-top: 3rem;
   margin-bottom: -0.1rem;
}

.review-btn {
   margin: 2rem auto;
}

.back-link {
   width: auto !important;
}

.product-review-by-name {
   min-height: 25rem !important;
}

.user-review {
   background-color: #889faa;
   min-height: 38rem;
   max-height: fit-content;
   margin: 2rem 0.5rem;
}

.review-by {
   padding: 1rem;
   margin-top: 2rem;
}

.search-panel {
   height: 10rem !important;
}


.search-form {
   height: 10vh;
}

/*****************Edit Review*************************/

.edit-review {
   height: 80vh;
}

/*****************Add Product*************************/

.add-product {
   padding: 5px;
   max-height: fit-content;
   width: 100%;
}

.btn-reset:hover {
   background-color: #889faa !important;
   color: #fafafa !important;
}

/*****************Contact Page*************************/

.contact-txt {
   padding: 2rem;
}

/*****************Footer*************************/

footer {
   height: fit-content;
   min-height: 10vh;
   width: 100%;
   margin: 0;
   padding: 0;
}

.footer-copyright {
   text-align: center;
}

.footer-links {
   list-style-type: none;
   text-align: center;
   padding: 0.5rem;
   margin: 0.2rem auto;
}

.footer-links li {
   display: inline-block;
   font-size: 2rem;
   padding: 1rem;
   text-align: center;
}

.conditions li {
   list-style-type: circle !important;
   color: #383843;
}

.conditions-ordered li {
   list-style-type: lower-alpha !important;
}

.agree {
   font-size: 2rem;
   letter-spacing: inherit;
   font-weight: 600;
}

.btn-footer {
   background-color: #889FAA;
   font-weight: 600;
}

.btn-footer:hover {
   background-color: #383843;
}

.terms h3,
h4,
h5,
ul,
li,
ol,
p {
   color: #383843;
}

/*****************404.html*************************/

/*Code for full background image was used from 
https://css-tricks.com/perfect-full-page-background-image/*/

.error {
   background: url("../images/404-page.jpg") no-repeat center center fixed;
   /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
   height: 90vh;
}

.error-message {
   background-color: rgba(136, 159, 170, 0.8);
   margin-top: 5rem;
   padding-bottom: 1rem !important;
   box-shadow: 15px 5px 8px rgba(0, 0, 0, 0.7);
}


.agree {
   letter-spacing: 0.3rem;
}

.btn-back {
   background-color: #2fc669;
   font-weight: 600;
}

.btn-back:hover {
   background-color: #383843;
}

/*****************Media Queries*************************/

@media screen and (max-width: 575.98px) {
   .logo {
      letter-spacing: 0px;
      font-size: 2.3rem;
   }

   .scooter-img {
      width: 35rem;
      height: 35rem;
      margin: 1rem auto;
   }

   .product-spec {
      padding: 0rem 2rem !important;
      margin: 0.5rem 1rem;
   }

   .login-link {
      text-align: left;
   }

   .edit-review-panel {
      width: 90%;
   }

   .submit-btn-contact,
   .reset-btn-contact {
      padding-left: 8px;
      padding-right: 8px;
   }

   .add-review-card {
      width: 90%;
   }

   .error {
      min-height: 120rem;
   }

   .error-message h2 {
      font-size: 2.5rem;
   }

   .error-message h3 {
      font-size: 2.2rem;
   }
}

@media screen and (max-width: 992px) {
   .filter-panel {
      height: 27rem !important;
   }

   .user-review {
      min-height: 34rem;
      max-height: fit-content;
   }
}
