@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Nunito+Sans:wght@600;700&display=swap');
/*******General Styling********/
html {
   font-size: 62.5%;
   position: relative; 
   min-height: 100vh; 
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   font-size: 1.8rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color: #0d0709;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
}

.text-shadow {
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
   text-align: center;
}

.row, 
.container {
   margin: 0px;
   padding: 0px
}

/*******Background Colors********/

nav, .page-footer {
   background-color: #889FAA;
}

/*************Navigation*******************/

.logo {
   padding-left: 0.5rem;
   padding-bottom: 0.4rem;
   letter-spacing: 0.2rem;
}

/****************Flash Messages*************************/

.flash-messages {
   background-color: #fafafa;
   padding: 1rem;
}

/*************Index.html*******************/


.background-img {
   background: url("../images/man-on-the-scooter.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
}

.testimony {
   color: #ffffff;
   padding-top: 4rem;
   margin-right: 1rem;
   font-weight: 600;
   letter-spacing: 0.3rem;
}

.main-content {
   background-color: #dcdfe5;
   margin-top: -2rem;
}

.intro {
   padding: 2rem;
   margin: 1rem;
}

.intro span {
   font-weight: 700;
}

.carousel 
.carousel-item {
   width: 400px;
   height: 400px;
}

/***************Registration Form*****************/

form {
   height: 65vh;
}

.submit-btn {
   background-color: #2fc669;
}

.submit-btn:hover {
   background-color: #889faa;
}

.main-content h3 {
   padding-top: 3rem;
}

.validate {
   border-bottom: 1px solid #2fc669;
   -webkit-box-shadow: 0 1px 0 0 #2fc669;
   box-shadow: 1px solid #2fc669;
}

/* label color */
.input-field label {
   color: #383843;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: red;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid orange;
   box-shadow: 0 1px 0 0 orange;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #2fc669;
   box-shadow: 0 1px 0 0 #2fc669;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #e1403d;
   box-shadow: 0 1px 0 0 #e1403d;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #2fc669;
 }

 .login-link {
    text-align: right;
 }

 .login-link a {
    color: #889faa
 }

 .login-link a:hover {
    background-color: #889faa;
    color: #fafafa;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
 }

 /*****************Products *************************/

.card-title {
   position: relative !important;
   color: #383843 !important;
}
/*****************Footer*************************/

footer {
   height: fit-content;
   min-height: 10vh;
   width: 100%;
   margin: 0;
   padding: 0;
}

.footer-copyright {
   text-align: center;
}

.footer-links {
      list-style-type: none;
      text-align: center;
      padding: 0.5rem;
      margin: 0.2rem auto;
}

.footer-links li {
   display: inline-block;
   font-size: 2rem;
   padding: 1rem;
   text-align: center;
 }

/*****************Media Queries*************************/

@media screen and (max-width: 575.98px) {
   .logo {
      letter-spacing: 0px;
      font-size: 2.9rem;
   }
}