{% extends "base.html" %}
{% block content %}
 
<section class="error">
    <div class="row">
        <div class="col m8 offset-m2 s10 offset-s1 error-message">
            <h2 class="heading">Oh No! Looks like something has gone wrong!
            <br>The page you are looking for does not exist!</h2> 
            <h3 class="heading">Use the link below to go back</h3>               
            <a href="{{ url_for('index') }}" class="btn-back btn-large right text-shadow">
                <i class="fas fa-backward" aria-hidden="true"></i> Go Back</a>
        </div>
    </div>
   
</section>



{% endblock %}