{% extends "base.html" %}
{% block content %}
 
    <section class="error">
        <div class="row">
            <div class="col m8 offset-m2 s10 offset-s1 error-message">
                <h1 class="heading">Oh No! Looks like your something has gone wrong, check your connection</h1>
                <h2 class="heading">Use the link below to go back to the home page</h2>
                <!--Button to go back-->
                <a href="{{ url_for('index') }}" class="btn-back btn-large right">Go Back</a>
            </div>
        </div>
    </section>

{% endblock %}