{% extends "base.html" %}
{% block content %}

    <section class="main-content">
        <h2 class="text-center heading text-shadow">Add Product</h2>
        <!--Form to Add a new Product-->
        <div class="row">
            <form class="col s8 offset-m2" method="POST" action="">
              <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-motorcycle prefix"></i>
                  <input id="product_model" type="text" class="validate">
                  <label for="product_model">Scooter Model</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-tag prefix"></i>
                  <input id="product_brand" type="tel" class="validate">
                  <label for="product_brand">Scooter Brand</label>
                </div>
              </div>
            </form>
          </div>
        
                   
                    <!--Login Button-->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large submit-btn text-shadow">
                            Login<i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col s12 login-link">
                            <p>Do not have an account yet? <a href="{{ url_for('register') }}">Register Here</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock%}