{% extends "base.html" %}
{% block content %}

  <section class="main-content">
    <div class="row">
      <div class="col s12">
        <h2 class="text-center heading text-shadow">Add Product</h2>
      </div>
    </div>
    <!--Form to Add a new Product-->
    <div class="row add-product">
      <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_product') }}">
        <div class="row">
          <!--Scooter Model-->
          <div class="input-field col s12">
            <i class="fas fa-motorcycle prefix"></i>
            <input id="product_model" type="text" name="product_model" minlength="5" maxlength="50"
              pattern="^[a-zA-Z 0-9!?]{5,50}$" class="validate" required oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter model name')">
            <label for="product_model">Scooter Model</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Brand-->
          <div class="input-field col s12">
            <i class="fas fa-tag prefix"></i>
            <input id="product_brand" name="product_brand" minlength="3" maxlength="20" class="validate"
              pattern="^[a-zA-Z 0-9!?]{3,20}$" type="text" required 
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter brand name')">
            <label for="product_brand">Scooter Brand</label>
          </div>
        </div>
        <div>
          <!--Scooter Price-->
          <div class="input-field col s12">
            <i class="fas fa-pound-sign prefix"></i>
            <input id="product_price" name="product_price" type="number" step="any" minlength="2" maxlength="7" class="validate"
              required pattern="^[1-10000.]{2,7}$"
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter price using numerical value only!')">
            <label for="product_price">Scooter Price in £</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Max Range-->
          <div class="input-field col s12">
            <i class="fas fa-route prefix"></i>
            <input id="product_max_range" name="product_max_range" class="validate"
              type="number" step="any" required pattern="^[1-10000.]{1,5}$"
               minlength="1" maxlength="5"
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter range using numerical value only!')">
            <label for="product_max_range">Scooter Range in miles</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Max Speed-->
          <div class="input-field col s12">
            <i class="fas fa-tachometer-alt prefix"></i>
            <input id="product_max_speed" name="product_max_speed" minlength="1" maxlength="5" class="validate"
              pattern="^[0-150.]{1,5}$" type="number" step="any" required 
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter max Speed using numerical value only!')">
            <label for="product_max_speed">Scooter Speed in mph</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Motor Power-->
          <div class="input-field col s12">
            <i class="fas fa-power-off prefix"></i>
            <input id="product_motor_power" name="product_motor_power" minlength="1" maxlength="5" class="validate"
              pattern="^[0-150.]{1,5}$" type="number" step="any" required 
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter motor power using numerical value only!')">
            <label for="product_motor_power">Scooter Motor Power in Watts</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter  Max Load-->
          <div class="input-field col s12">
            <i class="fas fa-truck-loading prefix"></i>
            <input id="product_load" name="product_load" minlength="1" maxlength="5" class="validate"
              pattern="^[0-50.]{1,5}$" type="number" step="any"
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter maximum load capacity in kn using numeric value!')" required >
            <label for="product_load">Scooter Max Load in kg</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Wheel Size-->
          <div class="input-field col s12">
            <i class="fas fa-dharmachakra prefix"></i>
            <input id="product_wheel_size" name="product_wheel_size" minlength="1" maxlength="5" class="validate"
               type="number" step="any" pattern="^[0-50.]{1,5}$"
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter  wheel size using numerical value only!')" required >
            <label for="product_wheel_size">Scooter Wheel Size in cm</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Battery Charge-->
          <div class="input-field col s12">
            <i class="fas fa-charging-station prefix"></i>
            <input id="product_battery_charge" name="product_battery_charge" minlength="1" maxlength="5"
              class="validate" type="number" step="any"
              pattern="^[0-50.]{1,5}$"
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a number of hours required for battery to charge using only numerical values!')" required>
            <label for="product_battery_charge">Scooter Battery Charge in hr</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Water Resistant-->
          <div class="input-field col s12">
            <i class="fas fa-water prefix"></i>
            <select id="product_water_resistant" name="product_water_resistant" class="validate"
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please choose one of the options')" required>
              <option value="" disabled selected>Select an option</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label for="product_water_resistant">Is this scooter water resistant?</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Weight-->
          <div class="input-field col s12">
            <i class="fas fa-weight-hanging prefix"></i>
            <input id="product_weight" name="product_weight" minlength="1" maxlength="5" class="validate"
               type="number" step="any"
               pattern="^[0-50.]{1,5}$"
               oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Please enter the weight of the scooter using only numerical values!')" required>
            <label for="product_weight">How heavy is this scooter in kg?</label>
          </div>
        </div>
        <div class="row">
           <!--Scooter Affiliate Link-->
           <div class="input-field col s12">
            <i class="fas fa-shopping-cart prefix"></i>
            <input id="product_affiliate_link" name="product_affiliate_link" minlength="5" maxlength="400" class="validate"
               type="url" required oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter url for your Affiliate Link')">
            <label for="product_affiliate_link">URL for Affiliate Link</label>
          </div>
        </div>
        <div class="row">
           <!--Scooter Image Link-->
           <div class="input-field col s12">
            <i class="fas fa-camera prefix"></i>
            <input id="product_image" name="product_image" minlength="5" maxlength="200" class="validate"
               type="url" required oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter url for your Scooter Image')">
            <label for="product_image">URL for Scooter Image</label>
          </div>
        </div>
        <div class="row">
          <!--Scooter Description-->
          <div class="input-field col s12">
            <i class="fas fa-file-alt prefix"></i>
            <textarea id="product_description" class="materialize-textarea validate" type="text"
              name="product_description" minlength="5" maxlength="500" pattern="^[a-z A-Z0-9!?.,(){}[]>]{5,500}$"
              required oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Please enter a scooter description')"></textarea>
            <label for="product_description">Scooter Description</label>
          </div>
        </div>
        <div class="row">
          <!--Submit Button-->
          <div class="col s6 btn-div">
            <a href="{{ url_for('add_product') }}" class="btn-large text-shadow btn-reset">
              Clear <i class="fas fa-redo-alt right"></i>
          </a>
          </div>
          <div class="col s6 btn-div">
            <!--Reset Button-->
            <button type="submit" class="btn-large submit-btn text-shadow btn-submit" type="submit">
              Submit<i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

{% endblock%}