{% extends "base.html" %}
{% block content %}
   <section class="main-content">
       <div class="row background-img">
           <!--Quote-->
           <div class="col m5 s7 right">
               <p class="testimony text-shadow">
                   Electric scooters are offering people a way to travel five times quicker than walking while being
                   environmentally friendly, fun and very low cost. Unlike a bicycle, you’re not sweaty when you
                   arrive!
               </p>
           </div>
       </div>
       <!--Welcome-->
       <div class="row">
           <div class="col 10 offset-2 text-center intro">
               <h1>Welcome to the Scooter Circle</h1>
               <p class="testimonial-2">
                   Speed, size, weight, range, reliability and cost are just a few of the factors you need to take into
                   account
                   before you buy an e-scooter. At Scooter Circle we have tried to help you understand what’s important
                   to ensure that
                   you pick the best electric scooter for you.
                   <br><span>Share your reviews to help others make the right choice!</span>
               </p>
           </div>
       </div>
       <!--Carousel-->
       <div class="row col s12">
        <div class="carousel">
            {% for p in products %}
                <a class="carousel-item" href="{{ url_for('login')}}"><img src="{{ p.product_image }}" alt="{{ p.product_model }}"></a>
            {% endfor %}
          </div>
       </div>
    </section>
    
{% endblock%}