{% extends "base.html" %}
{% block content %}
       <div class="row background-img">
           <!--Quote-->
           <div class="col l4 m5 s10 right testimony-div">
               <p class="testimony text-shadow">
                   Electric scooters are offering people a way to travel five times quicker than walking while being
                   environmentally friendly, fun and very low cost. Unlike a bicycle, you’re not sweaty when you
                   arrive!
               </p>
           </div>
       </div>
    <section class="main-content">
       <!--Welcome-->
       <div class="row">
           <div class="col 10 offset-2 text-center intro">
               <h2 class="heading">Welcome to the Scooter Circle</h2>
               <p class="testimonial-2">
                Electric scooters are only growing in popularity, they're nippy, fun, and they're a lot more portable than the best electric bikes.... 
                Here you will be able to <span>view the latest scooter models</span> because while they may all look quite similar, not all electric scooters are created equal.
                <br>Also, check out <span>user reviews and add your own</span>, to help others make the right choice!
               </p>
           </div>
       </div>
       <!--Carousel-->
       <div class="row col s12 carousel-div">
        <div class="carousel">
            {% for product in products %}
               {% if session.user %}
                <a class="carousel-item" href="{{ url_for('view_product', product_id=product._id) }}">
                    <img src="{{ product.product_image }}" loading="lazy" alt="{{ product.product_model }}">
                </a>
               {% else %}
               <a class="carousel-item" href="{{ url_for('login')}}">
                  <img src="{{ product.product_image }}" loading="lazy" alt="{{ product.product_model }}">
                </a>
               {% endif %}
            {% endfor %}
          </div>
       </div>
       <!--View All Product call-to-action-->
       <div class="row">
        <div class="col s12 center-align">
          <a href="{{ url_for('products') }}" class="text-shadow btn-small btn affiliate-link back-link">View All Scooters</a>
        </div>
      </div>
    </section>
    
{% endblock%}