{% extends "base.html" %}
{% block content %}
    <section class="main-content">
      <!--Page Heading-->
      <div class="row">
        <div class="col s12">
          <h2 class="text-center heading">All the Scooters</h2>
        </div>
      </div>
      <!--Search Form -->
      <div class="row card-panel filter-panel">
        <form action="{{ url_for('products') }}" method="GET" class="col s12 search-form">
          <div class="row valign-wrapper center-align">
            <div class="input-field col s12">
              <i class="fas fa-search prefix"></i>
              <input type="text" name="query" id="query" class="validate" minlength="3" maxlength="50"
                pattern="^[a-zA-Z 0-9!?-]{3,50}$" oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Please enter a minimum of 3 charcters to search the scooter by brand or model')">
              <label for="query">Scooters by Brand or Model</label>
            </div>
          </div>
          <!--Sort Heading-->
          <div class="row">
            <div class="col s12 text-center">
              <h5><i class="fas fa-sort-amount-down"></i> Filter Scooters by:</h5>
            </div>
          </div>
          <!--Sort by Range-->
          <div class="row">
            <div class="input-field col l3 m6 s6">
              <select id="product_max_range" name="product_max_range">
                <option value="" disabled selected>Range</option>
                <option value="low">Low</option>
                <option value="high">High</option>
              </select>
              <label for="product_max_range"></label>
            </div>
            <!--Sort by Charging Time-->
            <div class="input-field col l3 m6 s6">
              <select name="product_battery_charge" id="product_battery_charge">
                <option value="" disabled selected>Charging Time</option>
                <option value="slow">Slow</option>
                <option value="fast">Fast</option>
              </select>
              <label for="product_battery_charge"></label>
            </div>
            <!--Sort by Speed-->
            <div class="input-field col l3 m6 s6">
              <select name="product_max_speed" id="poduct_max_speed">
                <option value="" disabled selected>Speed</option>
                <option value="slow">Slow</option>
                <option value="fast">Fast</option>
              </select>
              <label for="poduct_max_speed"></label>
            </div>
            <!--Sort by Price-->
            <div class="input-field col l3 m6 s6">
              <select id="product_price" name="product_price">
                <option value="" disabled selected>Price</option>
                <option value="low">Low</option>
                <option value="high">High</option>
              </select>
              <label for="product_price"></label>
            </div>
          </div>
          <!--Reset/Submit buttons-->
          <div class="row">
            <div class="col s12 card-action">
              <a href="{{ url_for('products') }}" class="btn-small btn-reset text-shadow">
                <i class="fas fa-redo-alt prefix"></i> Reset</a>
              <button type="submit" class="text-shadow btn-small submit-btn">
                Search <i class="fas fa-search prefix"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    
      <!--Display Products-->
      {% if products|length > 0 %}
      <div class="row">
        {% for product in products %}
        <div class="col l4 m6 s12">
          <div class="card product-card hoverable">
            <div class="card-image">
              <img src="{{ product.product_image }}" alt="{{ product.product_model }}">
              <h4 class="card-title">{{ product.product_model }}</h4>
            </div>
            <div class="card-content">
              <div class="col s6">
                <p>
                  <i class="fas fa-tachometer-alt" aria-hidden="true"><span class="sr-only">mobile menu</span>></i>
                  {{ product.product_max_speed }}mph
                </p>
                <p>
                  <i class="fas fa-charging-station"></i>
                  {{ product.product_battery_charge }}hrs
                </p>
              </div>
              <p>
                <i class="fas fa-pound-sign"></i>
                {{ product.product_price }}
                <button class="btn tooltipped text-shadow" data-position="top" data-tooltip="Price may vary">!</button>
              </p>
              <p>
                <i class="fas fa-route"></i>
                {{ product.product_max_range }}miles
              </p>
            </div>
            <!--Link to full product details-->
            <div class="row">
              <div class="card-action details-link">
                <div class="col s12">
                  <a href="{{ url_for('view_product', product_id=product._id) }}" class="product-details">View Full
                    Details</a>
                </div>
              </div>
            </div>
            <div class="admin-btn card-action details-link">
              <!--Edit and Delete Product Buttons for Admin User-->
              {% if session.user|lower == "admin"|lower %}
              <div class="col s6 left">
                <!-- Modal Trigger -->
                <button data-target="{{ product._id }}" class="delete-admin btn-small modal-trigger text-shadow btn-reset">
                  Delete <i class="fas fa-trash-alt prefix"></i></button>
                <!-- Modal Structure -->
                <div id="{{ product._id }}" class="modal">
                  <div class="modal-content">
                    <h4>Are you sure you want to delete this product?</h4>
                  </div>
                  <div class="modal-footer">
                    <a href="{{ url_for('products') }}" class="modal-close waves-effect waves-green btn-flat">No</a>
                    <a href="{{ url_for('delete_product', product_id=product._id)}}"
                      class="modal-close waves-effect waves-green btn-flat">Yes</a>
                  </div>
                </div>
              </div>
              <div class="col s6 right">
                <!--Edit Button-->
                <a href="{{ url_for('edit_product', product_id=product._id)}}" class="btn-small submit-btn text-shadow">
                  Edit <i class="fas fa-edit prefix"></i></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--Message to appear if no results are found-->
      {% else %}
      <div class="row">
        <div class="col s12">
          <h2 class="text-center heading">No Results Found</h2>
        </div>
      </div>
      {% endif %}
    </section>
{% endblock %}