{% extends "base.html" %}
{% block content %}
    <section class="main-content">
    <h2 class="text-center heading">All the Scooters</h2>
    <div class="row">
        {% for p in products %}
        <div class="col l4 m6 s12">
          <div class="card">
            <div class="card-image">
              <img src="{{ p.product_image }}">
              <h4 class="card-title">{{ p.product_model }}</h4>
            </div>
            <div class="card-content">
              <div class="col s6">
              <p>
                <i class="fas fa-tachometer-alt"></i>
                {{ p.product_max_speed }}mph
              </p>
              <p>
                <i class="fas fa-charging-station"></i>
                {{ p.product_battery_charge }}hrs
              </p>
              </div>
              <p>
                <i class="fas fa-pound-sign"></i>
                {{ p.product_price }}
              </p>
              <p>
                <i class="fas fa-route"></i>
                {{ p.product_max_range }}miles
              </p>
            </div>
            <div class="card-action">
              <a href="#">View Full Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </section>
     
    {% for p in products %}
        {{ p.product_model }}<br>
        {{ p.product_brand }}<br>
        {{ p.product_price }}<br>
        {{ p.product_max_speed }}<br>
        {{ p.product_range }}<br>
        {{ p.product_motor_power }}<br>
        {{ p.product_max_load }}<br>
        {{ p.product_wheel_size }}<br>
        {{ p.product_battery_charge }}<br>
        {{ p.product_water_resistant }}<br>
        {{ p.product_weight }}<br>
        {{ p.product_image }}<br>
        {{ p.product_description }}<br>
    {% endfor %}

{% endblock %}