{% extends "base.html" %}
{% block content %}

    <section class="main-content profile-section">
        <!--Profile Card-->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel card-profile">
                    <h3 class="text-center heading">{{ username }}'s Profile</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% if reviews|length > 0 %}
            <div class="col s12 text-center">
                <h3 class="heading">Your Scooter Reviews</h3>
            </div>
        </div>
        <div class="row">
            {% for review in reviews %}
            <!--User Reviews-->
            <div class="col s12 m6 l4">
                <div class="card user-review">
                    <div class="card-content white-text">
                        <h4 class="card-title">{{ review.product_model }}</h4>
                        <p>{{ review.product_review }}</p>
                        <span class="right review-by"><em>Review by: {{ review.created_by|capitalize }}</em></span>
                    </div>
                    <!--Edit and Delete Review Buttons-->
                    <div class="card-action card-btn">
                        <!-- Modal Trigger -->
                        <button data-target="{{ review._id }}" class="btn-small modal-trigger text-shadow btn-reset">
                            Delete <i class="fas fa-trash-alt prefix"></i></button>
                        <!-- Modal Structure -->
                        <div id="{{ review._id }}" class="modal">
                            <div class="modal-content">
                                <h4>Are you sure you want to delete this review?</h4>
                            </div>
                            <div class="modal-footer">
                                <button class="modal-close waves-effect waves-green btn-flat">No</button>
                                <a href="{{ url_for('delete_review', review_id=review._id)}}"
                                    class="modal-close waves-effect waves-green btn-flat">Yes</a>
                            </div>
                        </div>
                        {% if session.user|lower == review.created_by|lower or session.user|lower != "admin"|lower %}
                        <!--Edit Button-->
                        <a href="{{ url_for('edit_review', review_id=review._id)}}"
                            class="btn-small submit-btn text-shadow">
                            Edit <i class="fas fa-edit prefix"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--If the user does not have any reviews display the following-->
            {% else %}
            <div class="col s12 text-center">
                <h3 class="heading">You have not reviewed any products yet!</h3>
                <p>Once you have reviewed some scooters, you will be able to manage your reviews here</p>
                <div class="col s12 center-align">
                    <a href="{{ url_for('products') }}" class="text-shadow btn-small btn affiliate-link back-link">
                        View All Scooters
                    </a>
                </div>
            </div>
        {% endif %}
        </div>
    </section>

{% endblock%}