{% extends "base.html" %}
{% block content %}
    <section class="main-content">
      <!--Product Specifications-->
      <div class="row">
        <div class="col s12">
          <h2 class="text-center heading">{{ product.product_model }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col m6 s12">
          <img src="{{ product.product_image }}" class="scooter-img">
        </div>
        <div class="col l6 m4 offset-m2 s12 product-spec">
          <p>
            <i class="fas fa-tag"></i>
            {{ product.product_brand }}
          </p>
          <p>
            <i class="fas fa-tachometer-alt"></i>
            {{ product.product_max_speed }}mph
          </p>
          <p>
            <i class="fas fa-charging-station"></i>
            {{ product.product_battery_charge }}hrs
          </p>
          <p>
            <i class="fas fa-pound-sign"></i>
            {{ product.product_price }}
          </p>
          <p>
            <i class="fas fa-route"></i>
            {{ product.product_max_range }}miles
          </p>
          <p>
            <i class="fas fa-power-off"></i>
            {{ product.product_motor_power }}watts
          </p>
          <p>
            <i class="fas fa-truck-loading"></i>
            {{ product.product_load }}kg
          </p>
          <p>
            <i class="fas fa-dharmachakra"></i>
            {{ product.product_wheel_size }}cm
          </p>
          <p>
            <i class="fas fa-water"></i>
            {{ product.product_water_resistant }}
          </p>
          <p>
            <i class="fas fa-weight-hanging"></i>
            {{ product.product_weight }}kg
          </p>
        </div>
      </div>
      <div class="col s12 p-description">
        <p>{{ product.product_description }}</p>
      </div>
      </div>
      <!--Affiliate Link for Product-->
      <div class="row">
        <div class="col m4 offset-m7 s6 offset-s4 card-action">
          <a href="{{ product.product_affiliate_link }}" class="text-shadow btn-small affiliate-link" target="_blank"
            alt="{{ product.product_model }}">Buy This Scooter</a>
        </div>
      </div>
    </section>
    <!--Add Review-->
    <section class="main-content add_review">
      <div class="row card-panel grey lighten-5">
        <form class="col m7 s12 add-review-form" method="POST"
          action="{{ url_for('add_review') }}">
          <fieldset>
            <legend>Review This Product</legend>
            <div class="row">
              <div class="input-field col s12">                                         
                <input id="product_model" type="text" name="product_model" value="{{ product.product_model }}">
                <label for="product_model"></label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-pencil-alt prefix"></i>
                  <textarea id="product_review" name="product_review" minlength="10" maxlength="200" type="text"
                    class="materialize-textarea validate" required></textarea>
                  <label for="product_review"></label>
                </div>
              </div>
          </fieldset>
          <!--Reset Button-->
          <div class="row card-action review-btn">
            <div class="col s6">
              <button class="btn-large text-shadow btn-reset submit-btn-contact" type="reset">
                Clear <i class="fas fa-redo-alt right"></i>
              </button>
            </div>
            <div class="col s6">
              <!--Submit Button-->
              <button type="submit" class="btn-large submit-btn text-shadow btn-submit submit-btn-contact" type="submit">
                Submit <i class="fas fa-sign-in-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="reviews">
      <!--show reviews-->
      <div class="row">
        <div class="col s12">
          <h3 class="text-center">User Reviews</h3>
        </div>
        <div class="row">
        {% for review in reviews %}
            {% if review.product_model == product.product_model %}
                {% if review.product_review|length > 0 %}
                  <div class="col s12 m4">
                    <div class="card user-review">
                      <div class="card-content white-text">
                        <h4 class="card-title">{{ review.product_model }}</h4>
                        <p>{{ review.product_review }}</p>
                        <p><em>Reviewed by: {{ review.created_by|capitalize }}</em></p>
                      </div>
                  </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      </div>
    </section>
    

{% endblock %}