{% extends "base.html" %}
{% block content %}
    <section class="main-content">
      <!--Product Specifications-->
      <div class="row">
        <div class="col s12">
          <h2 class="text-center heading">{{ product.product_model }}</h2>
        </div>
        <div class="col m6 s12">
          <img src="{{ product.product_image }}" class="scooter-img">
        </div>
        <div class="col l6 m4 offset-m2 s12 product-spec">
          <p>
            <i class="fas fa-tag"></i>
            {{ product.product_brand }}
          </p>
          <p>
            <i class="fas fa-tachometer-alt"></i>
            {{ product.product_max_speed }}mph
          </p>
          <p>
            <i class="fas fa-charging-station"></i>
            {{ product.product_battery_charge }}hrs
          </p>
          <p>
            <i class="fas fa-pound-sign"></i>
            {{ product.product_price }}
          </p>
          <p>
            <i class="fas fa-route"></i>
            {{ product.product_max_range }}miles
          </p>
          <p>
            <i class="fas fa-power-off"></i>
            {{ product.product_motor_power }}watts
          </p>
          <p>
            <i class="fas fa-truck-loading"></i>
            {{ product.product_load }}kg
          </p>
          <p>
            <i class="fas fa-dharmachakra"></i>
            {{ product.product_wheel_size }}cm
          </p>
          <p>
            <i class="fas fa-water"></i>
            {{ product.product_water_resistant }}
          </p>
          <p>
            <i class="fas fa-weight-hanging"></i>
            {{ product.product_weight }}kg
          </p>
        </div>
      </div>
      <div class="col s12 p-description">
        <p>{{ product.product_description }}</p>
      </div>
      <!--Affiliate Link for Product-->
      <div class="col m4 offset-m7 s6 card-action affiliate-link">
        <a href="{{ product.product_affiliate_link }}" class="text-shadow" target="_blank" alt="{{ product.product_model }}">Buy This Scooter</a>
      </div>
    </section>
    <!--Add Review-->
    <section class="main-content add_review">
      <div class="row card-panel grey lighten-5">
        <form class="col m7 s12 add-review-form" method="POST"
          action="{{ url_for('view_product', product_id=product._id) }}">
          <fieldset>
            <legend><i class="fas fa-pencil-alt prefix"></i>Review This Product</legend>
            <div class="row">
              <div class="input-field col s12">
                <input id="product_model" type="text" name="product_model">
                <label for="product_model">{{ product.product_model }}</label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="product_review" name="product_review" minlength="10" maxlength="200" type="text"
                    class="materialize-textarea validate" required></textarea>
                  <label for="product_review"></label>
                </div>
              </div>
          </fieldset>
          <!--Submit Button-->
          <div class="col s6 card-action card-btn">
            <button class="btn-large text-shadow btn-reset" type="reset">
              Clear <i class="fas fa-redo-alt right"></i>
            </button>
          </div>
          <div class="col s6 card-action card-btn">
            <!--Reset Button-->
            <button type="submit" class="btn-large submit-btn text-shadow btn-submit" type="submit">
              Submit<i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
        </form>
      </div>
    </section>
    <section class="main-content">
      <!--show reviews-->
      {% for review in reviews %}
      <div class="row">
            {% if review.product_model == product.product_model %}
            <div class="col s12">
              <h3 class="text-center">User Reviews</h3>
            </div>
            <div class="col s12 m4">
              <div class="card-panel review-card">
                <p>{{ review.product_review }}</p>
                <h5>Reviewed by: {{ review.created_by }}</h5>
                <div class="row">
                  <!--Edit and Delete Product Buttons-->
                  {% if session.user|lower == review.created_by|lower %}
                  <div class="card-action card-btn">
                    <!-- Modal Trigger -->
                    <button data-target="{{ product._id }}" class="btn-small modal-trigger text-shadow btn-reset">
                      Delete <i class="fas fa-trash-alt prefix"></i></button>
                    <!-- Modal Structure -->
                    <div id="{{ product._id }}" class="modal">
                      <div class="modal-content">
                        <h4>Are you sure you want to delete this product?</h4>
                      </div>
                      <div class="modal-footer">
                        <a href="{{ url_for('products') }}" class="modal-close waves-effect waves-green btn-flat">No</a>
                        <a href="{{ url_for('delete_product', product_id=product._id)}}"
                          class="modal-close waves-effect waves-green btn-flat">Yes</a>
                      </div>
                    </div>
                    <!--Edit Button-->
                    <a href="{{ url_for('edit_product', product_id=product._id)}}"
                      class="btn-small submit-btn text-shadow">
                      Edit <i class="fas fa-edit prefix"></i></a>
                    {% else %}
                    {% endif %}
                    </div>
              </div>
            </div>
            {% else %}
            <div class="col s12">
              <h3>No reviews Yet</h3>
            </div>
            {% endif %}
      </div>
      {% endfor %}
    </section>
    

{% endblock %}